{% extends 'navbar.html' %}
{% block notes %}
    <title>Notes</title>
    <h1>Notes</h1>
    <form method="post">
        {% csrf_token %}
        <label>
            <input name="title" placeholder="Enter your title...">
        </label>
        <label>
            <textarea name="content" placeholder="Add your notes here..."></textarea>
        </label>
        <button type="submit" name="add">Add</button>
        <span>{{ notes.count }}</span>
        {% for note in notes %}
            <hr>
            <button type="submit" name="delete" value="{{ note.id }}">Delete</button>
            <a href="{% url 'edit_notes' note.id %}">Edit</a>
            <details>
                <summary>{{ note.title }}</summary>
                <span>{{ note.content }}</span>
            </details>
            <span>{{ note.created_at|date:"d-m-Y H:i:s" }}</span>
        {% endfor %}
    </form>
{% endblock notes %}